## Importing Python Vehicle API Wrapper

In [1]:
import pvaw as pv

# Vin Decoding
The NHTSA Vehicle API supports individual and batch decoding.

## Vin Class

### class pvaw.Vin(full_or_partial_vin, model_year=None)

**Parameters:**

**full_or_partial_vin:** string representing a Vehicle Identification Number (VIN). It can be either the full VIN (e.g. "3C6JR7AT4EG248404"), or be a subset of the VIN with missing characters replaced by the '\*' character (e.g. "5YJSA3DS*EF")

**model_year:** string or integer representing the model year of the vehicle. Defaults to None.

#### Constructing a Vin

In [2]:
# creating a Vin object from partial vin
vin_1 = pv.Vin("5YJSA3DS*EF")

# creationg a Vin object from partial vin and year
vin_2 = pv.Vin("5UXWX7C5*BA", 2011)

## Decoding a Vin

### pvaw.Vin.decode()
**Returns:** A Vehicle object with information about the Vin's associated vehicle

In [3]:
vehicle = vin_1.decode()
vehicle

**Getting Key Attributes**

In [4]:
print(vehicle.model_year)
print(vehicle.make)
print(vehicle.manufacturer)
print(vehicle.model)
print(vehicle.full_or_partial_vin)
print(vehicle.vehicle_type)

2014
TESLA
TESLA, INC.
Model S
5YJSA3DS*EF
PASSENGER CAR

**Getting JSON Results**

In [5]:
vehicle.get_results()

{'ABS': '',
 'ActiveSafetySysNote': '',
 'AdaptiveCruiseControl': '',
 'AdaptiveDrivingBeam': '',
 'AdaptiveHeadlights': '',
 'AdditionalErrorText': 'The error positions are indicated by ! in Suggested VIN. In the Possible values section, each pair of parenthesis indicate information about each error position in VIN . The Numeric value before the : indicates the position in error and the values after the : indicate the possible values that are allowed in this position Unused position(s): 8;',
 'AirBagLocCurtain': '',
 'AirBagLocFront': '1st Row (Driver & Passenger)',
 'AirBagLocKnee': '1st Row (Driver & Passenger)',
 'AirBagLocSeatCushion': '',
 'AirBagLocSide': 'All Rows',
 'AutoReverseSystem': '',
 'AutomaticPedestrianAlertingSound': '',
 'AxleConfiguration': '',
 'Axles': '',
 'BasePrice': '',
 'BatteryA': '',
 'BatteryA_to': '',
 'BatteryCells': '',
 'BatteryInfo': '',
 'BatteryKWh': '20',
 'BatteryKWh_to': '',
 'BatteryModules': '',
 'BatteryPacks': '',
 'BatteryType': '',
 'BatteryV': '',
 'BatteryV_to': '',
 'BedLengthIN': '',
 'BedType': 'Not Applicable',
 'BlindSpotMon': '',
 'BodyCabType': 'Not Applicable',
 'BodyClass': 'Hatchback/Liftback/Notchback',
 'BrakeSystemDesc': '',
 'BrakeSystemType': '',
 'BusFloorConfigType': 'Not Applicable',
 'BusLength': '',
 'BusType': 'Not Applicable',
 'CAN_AACN': '',
 'CIB': '',
 'CashForClunkers': '',
 'ChargerLevel': '',
 'ChargerPowerKW': '',
 'CoolingType': '',
 'CurbWeightLB': '',
 'CustomMotorcycleType': 'Not Applicable',
 'DaytimeRunningLight': '',
 'DestinationMarket': '',
 'DisplacementCC': '',
 'DisplacementCI': '',
 'DisplacementL': '',
 'Doors': '5',
 'DriveType': 'RWD/ Rear Wheel Drive',
 'DriverAssist': '',
 'DynamicBrakeSupport': '',
 'EDR': '',
 'ESC': '',
 'EVDriveUnit': '',
 'ElectrificationLevel': '',
 'EngineConfiguration': '',
 'EngineCycles': '',
 'EngineCylinders': '',
 'EngineHP': '',
 'EngineHP_to': '',
 'EngineKW': '',
 'EngineManufacturer': '',
 'EngineModel': '',
 'EntertainmentSystem': '',
 'ErrorCode': '5,6,14',
 'ErrorText': '5 - VIN has errors in few positions; 6 - Incomplete VIN; 14 - Unable to provide information for all the characters in the VIN.',
 'ForwardCollisionWarning': '',
 'FuelInjectionType': '',
 'FuelTypePrimary': '',
 'FuelTypeSecondary': '',
 'GCWR': '',
 'GCWR_to': '',
 'GVWR': '',
 'GVWR_to': '',
 'KeylessIgnition': '',
 'LaneDepartureWarning': '',
 'LaneKeepSystem': '',
 'LowerBeamHeadlampLightSource': '',
 'Make': 'TESLA',
 'MakeID': '441',
 'Manufacturer': 'TESLA, INC.',
 'ManufacturerId': '955',
 'Model': 'Model S',
 'ModelID': '1685',
 'ModelYear': '2014',
 'MotorcycleChassisType': 'Not Applicable',
 'MotorcycleSuspensionType': 'Not Applicable',
 'NCSABodyType': '',
 'NCSAMake': '',
 'NCSAMapExcApprovedBy': '',
 'NCSAMapExcApprovedOn': '',
 'NCSAMappingException': '',
 'NCSAModel': '',
 'NCSANote': '',
 'Note': '',
 'OtherBusInfo': '',
 'OtherEngineInfo': '',
 'OtherMotorcycleInfo': '',
 'OtherRestraintSystemInfo': '',
 'OtherTrailerInfo': '',
 'ParkAssist': '',
 'PedestrianAutomaticEmergencyBraking': '',
 'PlantCity': 'FREMONT',
 'PlantCompanyName': 'Tesla - Fremont, CA (FRE)',
 'PlantCountry': 'UNITED STATES (USA)',
 'PlantState': 'CALIFORNIA',
 'PossibleValues': '(8:12)(12:ABFPRS)',
 'Pretensioner': '',
 'RearCrossTrafficAlert': '',
 'RearVisibilitySystem': '',
 'SAEAutomationLevel': '',
 'SAEAutomationLevel_to': '',
 'SeatBeltsAll': 'Manual',
 'SeatRows': '',
 'Seats': '',
 'SemiautomaticHeadlampBeamSwitching': '',
 'Series': '',
 'Series2': '',
 'SteeringLocation': 'Left Hand Drive (LHD)',
 'SuggestedVIN': '5YJSA3D!*EF!  ',
 'TPMS': 'Direct',
 'TopSpeedMPH': '',
 'TrackWidth': '',
 'TractionControl': '',
 'TrailerBodyType': 'Not Applicable',
 'TrailerLength': '',
 'TrailerType': 'Not Applicable',
 'TransmissionSpeeds': '',
 'TransmissionStyle': '',
 'Trim': 'w/DC Fast Charge',
 'Trim2': '',
 'Turbo': '',
 'VIN': '5YJSA3DS*EF',
 'ValveTrainDesign': '',
 'VehicleType': 'PASSENGER CAR',
 'WheelBaseLong': '',
 'WheelBaseShort': '',
 'WheelBaseType': '',
 'WheelSizeFront': '',
 'WheelSizeRear': '',
 'Wheels': '',
 'Windows': ''}

**Getting DataFrame**

In [6]:
# Getting key attribute df dropping nan
vehicle.get_df()

,model_year,make,manufacturer,model,full_or_partial_vin,vehicle_type
5YJSA3DS*EF,2014,TESLA,"TESLA, INC.",Model S,5YJSA3DS*EF,PASSENGER CAR

In [7]:
# Getting full raw data df not dropping nan
vehicle.get_df(raw=True, drop_na=False)

,ABS,ActiveSafetySysNote,AdaptiveCruiseControl,AdaptiveDrivingBeam,AdaptiveHeadlights,AdditionalErrorText,AirBagLocCurtain,AirBagLocFront,AirBagLocKnee,AirBagLocSeatCushion,...,VIN,ValveTrainDesign,VehicleType,WheelBaseLong,WheelBaseShort,WheelBaseType,WheelSizeFront,WheelSizeRear,Wheels,Windows
5YJSA3DS*EF,NaN,NaN,NaN,NaN,NaN,The error positions are indicated by ! in Sugg...,NaN,1st Row (Driver & Passenger),1st Row (Driver & Passenger),NaN,...,5YJSA3DS*EF,NaN,PASSENGER CAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Batch Decoding

### pvaw.decode_vins(vins)

**Parameters:** **vins:** list of Vin objects

**Returns:** ResultsList object which stores a list of Vehicle objects

In [8]:
vehicles = pv.decode_vins([vin_1, vin_2])
vehicles

**Accessing each Vehicle**

In [9]:
# Iterating through vehicles
for vehicle in vehicles:
    display(vehicle)
    
# Indexing Vehicles
first = vehicles[0]
last = vehicles[len(vehicles) - 1]

**Getting JSON Results**

In [10]:
vehicles.get_results()

[{'ABS': '',
  'ActiveSafetySysNote': '',
  'AdaptiveCruiseControl': '',
  'AdaptiveDrivingBeam': '',
  'AdaptiveHeadlights': '',
  'AdditionalErrorText': 'The error positions are indicated by ! in Suggested VIN. In the Possible values section, each pair of parenthesis indicate information about each error position in VIN . The Numeric value before the : indicates the position in error and the values after the : indicate the possible values that are allowed in this position Unused position(s): 8;',
  'AirBagLocCurtain': '',
  'AirBagLocFront': '1st Row (Driver & Passenger)',
  'AirBagLocKnee': '1st Row (Driver & Passenger)',
  'AirBagLocSeatCushion': '',
  'AirBagLocSide': 'All Rows',
  'AutoReverseSystem': '',
  'AutomaticPedestrianAlertingSound': '',
  'AxleConfiguration': '',
  'Axles': '',
  'BasePrice': '',
  'BatteryA': '',
  'BatteryA_to': '',
  'BatteryCells': '',
  'BatteryInfo': '',
  'BatteryKWh': '20',
  'BatteryKWh_to': '',
  'BatteryModules': '',
  'BatteryPacks': '',
  'BatteryType': '',
  'BatteryV': '',
  'BatteryV_to': '',
  'BedLengthIN': '',
  'BedType': 'Not Applicable',
  'BlindSpotMon': '',
  'BodyCabType': 'Not Applicable',
  'BodyClass': 'Hatchback/Liftback/Notchback',
  'BrakeSystemDesc': '',
  'BrakeSystemType': '',
  'BusFloorConfigType': 'Not Applicable',
  'BusLength': '',
  'BusType': 'Not Applicable',
  'CAN_AACN': '',
  'CIB': '',
  'CashForClunkers': '',
  'ChargerLevel': '',
  'ChargerPowerKW': '',
  'CoolingType': '',
  'CurbWeightLB': '',
  'CustomMotorcycleType': 'Not Applicable',
  'DaytimeRunningLight': '',
  'DestinationMarket': '',
  'DisplacementCC': '',
  'DisplacementCI': '',
  'DisplacementL': '',
  'Doors': '5',
  'DriveType': 'RWD/ Rear Wheel Drive',
  'DriverAssist': '',
  'DynamicBrakeSupport': '',
  'EDR': '',
  'ESC': '',
  'EVDriveUnit': '',
  'ElectrificationLevel': '',
  'EngineConfiguration': '',
  'EngineCycles': '',
  'EngineCylinders': '',
  'EngineHP': '',
  'EngineHP_to': '',
  'EngineKW': '',
  'EngineManufacturer': '',
  'EngineModel': '',
  'EntertainmentSystem': '',
  'ErrorCode': '5,6,14',
  'ErrorText': '5 - VIN has errors in few positions; 6 - Incomplete VIN; 14 - Unable to provide information for all the characters in the VIN.',
  'ForwardCollisionWarning': '',
  'FuelInjectionType': '',
  'FuelTypePrimary': '',
  'FuelTypeSecondary': '',
  'GCWR': '',
  'GCWR_to': '',
  'GVWR': '',
  'GVWR_to': '',
  'KeylessIgnition': '',
  'LaneDepartureWarning': '',
  'LaneKeepSystem': '',
  'LowerBeamHeadlampLightSource': '',
  'Make': 'TESLA',
  'MakeID': '441',
  'Manufacturer': 'TESLA, INC.',
  'ManufacturerId': '955',
  'Model': 'Model S',
  'ModelID': '1685',
  'ModelYear': '2014',
  'MotorcycleChassisType': 'Not Applicable',
  'MotorcycleSuspensionType': 'Not Applicable',
  'NCSABodyType': '',
  'NCSAMake': '',
  'NCSAMapExcApprovedBy': '',
  'NCSAMapExcApprovedOn': '',
  'NCSAMappingException': '',
  'NCSAModel': '',
  'NCSANote': '',
  'Note': '',
  'OtherBusInfo': '',
  'OtherEngineInfo': '',
  'OtherMotorcycleInfo': '',
  'OtherRestraintSystemInfo': '',
  'OtherTrailerInfo': '',
  'ParkAssist': '',
  'PedestrianAutomaticEmergencyBraking': '',
  'PlantCity': 'FREMONT',
  'PlantCompanyName': 'Tesla - Fremont, CA (FRE)',
  'PlantCountry': 'UNITED STATES (USA)',
  'PlantState': 'CALIFORNIA',
  'PossibleValues': '(8:12)(12:ABFPRS)',
  'Pretensioner': '',
  'RearCrossTrafficAlert': '',
  'RearVisibilitySystem': '',
  'SAEAutomationLevel': '',
  'SAEAutomationLevel_to': '',
  'SeatBeltsAll': 'Manual',
  'SeatRows': '',
  'Seats': '',
  'SemiautomaticHeadlampBeamSwitching': '',
  'Series': '',
  'Series2': '',
  'SteeringLocation': 'Left Hand Drive (LHD)',
  'SuggestedVIN': '5YJSA3D!*EF!  ',
  'TPMS': 'Direct',
  'TopSpeedMPH': '',
  'TrackWidth': '',
  'TractionControl': '',
  'TrailerBodyType': 'Not Applicable',
  'TrailerLength': '',
  'TrailerType': 'Not Applicable',
  'TransmissionSpeeds': '',
  'TransmissionStyle': '',
  'Trim': 'w/DC Fast Charge',
  'Trim2': '',
  'Turbo': '',
  'VIN': '5YJSA3DS*EF',
  'ValveTrainDesign': '',
  'VehicleType': 'PASSENGER CAR',
  'WheelBaseLong': '',
  'WheelBaseShort': '',
  'WheelBaseType': '',
  'WheelSizeFront': '',
  'WheelSizeRear': '',
  'Wheels': '',
  'Windows': ''},
 {'ABS': '',
  'ActiveSafetySysNote': '',
  'AdaptiveCruiseControl': '',
  'AdaptiveDrivingBeam': '',
  'AdaptiveHeadlights': '',
  'AdditionalErrorText': '',
  'AirBagLocCurtain': '',
  'AirBagLocFront': '1st Row (Driver & Passenger)',
  'AirBagLocKnee': '',
  'AirBagLocSeatCushion': '',
  'AirBagLocSide': '1st Row (Driver & Passenger)',
  'AutoReverseSystem': '',
  'AutomaticPedestrianAlertingSound': '',
  'AxleConfiguration': '',
  'Axles': '',
  'BasePrice': '',
  'BatteryA': '',
  'BatteryA_to': '',
  'BatteryCells': '',
  'BatteryInfo': '',
  'BatteryKWh': '',
  'BatteryKWh_to': '',
  'BatteryModules': '',
  'BatteryPacks': '',
  'BatteryType': '',
  'BatteryV': '',
  'BatteryV_to': '',
  'BedLengthIN': '',
  'BedType': '',
  'BlindSpotMon': '',
  'BodyCabType': '',
  'BodyClass': 'Sport Utility Vehicle (SUV)/Multi-Purpose Vehicle (MPV)',
  'BrakeSystemDesc': '',
  'BrakeSystemType': '',
  'BusFloorConfigType': 'Not Applicable',
  'BusLength': '',
  'BusType': 'Not Applicable',
  'CAN_AACN': '',
  'CIB': '',
  'CashForClunkers': '',
  'ChargerLevel': '',
  'ChargerPowerKW': '',
  'CoolingType': '',
  'CurbWeightLB': '',
  'CustomMotorcycleType': 'Not Applicable',
  'DaytimeRunningLight': '',
  'DestinationMarket': '',
  'DisplacementCC': '2979.1682352',
  'DisplacementCI': '181.8',
  'DisplacementL': '3.0',
  'Doors': '4',
  'DriveType': '',
  'DriverAssist': '',
  'DynamicBrakeSupport': '',
  'EDR': '',
  'ESC': '',
  'EVDriveUnit': '',
  'ElectrificationLevel': '',
  'EngineConfiguration': '',
  'EngineCycles': '',
  'EngineCylinders': '6',
  'EngineHP': '300',
  'EngineHP_to': '',
  'EngineKW': '223.7100',
  'EngineManufacturer': '',
  'EngineModel': '',
  'EntertainmentSystem': '',
  'ErrorCode': '6',
  'ErrorText': '6 - Incomplete VIN',
  'ForwardCollisionWarning': '',
  'FuelInjectionType': '',
  'FuelTypePrimary': 'Gasoline',
  'FuelTypeSecondary': '',
  'GCWR': '',
  'GCWR_to': '',
  'GVWR': 'Class 1D: 5,001 - 6,000 lb (2,268 - 2,722 kg)',
  'GVWR_to': '',
  'KeylessIgnition': '',
  'LaneDepartureWarning': '',
  'LaneKeepSystem': '',
  'LowerBeamHeadlampLightSource': '',
  'Make': 'BMW',
  'MakeID': '452',
  'Manufacturer': 'BMW MANUFACTURER CORPORATION / BMW NORTH AMERICA',
  'ManufacturerId': '968',
  'Model': 'X3',
  'ModelID': '1719',
  'ModelYear': '2011',
  'MotorcycleChassisType': 'Not Applicable',
  'MotorcycleSuspensionType': 'Not Applicable',
  'NCSABodyType': '',
  'NCSAMake': '',
  'NCSAMapExcApprovedBy': '',
  'NCSAMapExcApprovedOn': '',
  'NCSAMappingException': '',
  'NCSAModel': '',
  'NCSANote': '',
  'Note': '',
  'OtherBusInfo': '',
  'OtherEngineInfo': '',
  'OtherMotorcycleInfo': '',
  'OtherRestraintSystemInfo': 'Head Inflatable Restraint for Driver, Front Passenger, Rear Outboard Driver-side and Rear Outboard Passenger-side.  Knee Inflatable Restraint for Driver.  Pretensioners for Driver and Front Passenger.',
  'OtherTrailerInfo': '',
  'ParkAssist': '',
  'PedestrianAutomaticEmergencyBraking': '',
  'PlantCity': 'MUNICH',
  'PlantCompanyName': '',
  'PlantCountry': 'GERMANY',
  'PlantState': '',
  'PossibleValues': '',
  'Pretensioner': 'Yes',
  'RearCrossTrafficAlert': '',
  'RearVisibilitySystem': '',
  'SAEAutomationLevel': '',
  'SAEAutomationLevel_to': '',
  'SeatBeltsAll': 'Manual',
  'SeatRows': '',
  'Seats': '',
  'SemiautomaticHeadlampBeamSwitching': '',
  'Series': 'X3',
  'Series2': '',
  'SteeringLocation': '',
  'SuggestedVIN': '',
  'TPMS': 'Direct',
  'TopSpeedMPH': '',
  'TrackWidth': '',
  'TractionControl': '',
  'TrailerBodyType': 'Not Applicable',
  'TrailerLength': '',
  'TrailerType': 'Not Applicable',
  'TransmissionSpeeds': '',
  'TransmissionStyle': '',
  'Trim': 'xDrive35i',
  'Trim2': 'SAV',
  'Turbo': '',
  'VIN': '5UXWX7C5*BA',
  'ValveTrainDesign': '',
  'VehicleType': 'MULTIPURPOSE PASSENGER VEHICLE (MPV)',
  'WheelBaseLong': '',
  'WheelBaseShort': '',
  'WheelBaseType': '',
  'WheelSizeFront': '',
  'WheelSizeRear': '',
  'Wheels': '',
  'Windows': ''}]

**Getting DataFrame**

In [11]:
# Getting key attribute df dropping nan
vehicles.get_df()

,model_year,make,manufacturer,model,full_or_partial_vin,vehicle_type
5YJSA3DS*EF,2014,TESLA,"TESLA, INC.",Model S,5YJSA3DS*EF,PASSENGER CAR
"5UXWX7C5*BA,2011",2011,BMW,BMW MANUFACTURER CORPORATION / BMW NORTH AMERICA,X3,5UXWX7C5*BA,MULTIPURPOSE PASSENGER VEHICLE (MPV)

In [12]:
# Getting full raw data df not dropping nan
vehicles.get_df(raw=True, drop_na=False)

,ABS,ActiveSafetySysNote,AdaptiveCruiseControl,AdaptiveDrivingBeam,AdaptiveHeadlights,AdditionalErrorText,AirBagLocCurtain,AirBagLocFront,AirBagLocKnee,AirBagLocSeatCushion,...,VIN,ValveTrainDesign,VehicleType,WheelBaseLong,WheelBaseShort,WheelBaseType,WheelSizeFront,WheelSizeRear,Wheels,Windows
5YJSA3DS*EF,NaN,NaN,NaN,NaN,NaN,The error positions are indicated by ! in Sugg...,NaN,1st Row (Driver & Passenger),1st Row (Driver & Passenger),NaN,...,5YJSA3DS*EF,NaN,PASSENGER CAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"5UXWX7C5*BA,2011",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1st Row (Driver & Passenger),NaN,NaN,...,5UXWX7C5*BA,NaN,MULTIPURPOSE PASSENGER VEHICLE (MPV),NaN,NaN,NaN,NaN,NaN,NaN,NaN

# WMI Methods
The NHTSA Vehicle API supports wmi decoding

## WMI Decoding

#### pvaw.decode_wmi(wmi)

**Parameters: wmi:** str of length 3 representing VIN position 1-3 (e.g. "1FD") or 6 representing VIN positions 1-3 & 12-14 (e.g. "1G9340")

**Returns:** WMIInfo object with information on wmi

In [13]:
wmi_info = pv.decode_wmi("JTL")
wmi_info

**Getting Key Attributes**

In [14]:
print(wmi_info.wmi)
print(wmi_info.manufacturer)
print(wmi_info.vehicle_type)

JTL
TOYOTA MOTOR NORTH AMERICA, INC
Multipurpose Passenger Vehicle (MPV)

**Getting JSON Results**

In [15]:
wmi_info.get_results()

{'CommonName': 'Toyota',
 'CreatedOn': '2015-05-04',
 'DateAvailableToPublic': '2015-01-01',
 'Make': 'TOYOTA',
 'ManufacturerName': 'TOYOTA MOTOR NORTH AMERICA, INC',
 'ParentCompanyName': 'TOYOTA MOTOR CORPORATION',
 'URL': 'http://www.toyota.com',
 'UpdatedOn': None,
 'VehicleType': 'Multipurpose Passenger Vehicle (MPV)',
 'WMI': 'JTL'}

**Getting DataFrame**

In [16]:
# Getting key attribute df dropping nan
wmi_info.get_df()

,wmi,vehicle_type,manufacturer
JTL,JTL,Multipurpose Passenger Vehicle (MPV),"TOYOTA MOTOR NORTH AMERICA, INC"

In [17]:
# Getting full raw data df not dropping nan
wmi_info.get_df(raw=True, drop_na=False)

,CommonName,CreatedOn,DateAvailableToPublic,Make,ManufacturerName,ParentCompanyName,URL,UpdatedOn,VehicleType,WMI
JTL,Toyota,2015-05-04,2015-01-01,TOYOTA,"TOYOTA MOTOR NORTH AMERICA, INC",TOYOTA MOTOR CORPORATION,http://www.toyota.com,None,Multipurpose Passenger Vehicle (MPV),JTL

## Finding WMIs by Manufacturer
### pvaw.get_wmis(manufacturer_search)
**Parameters: manufacturer_search:** a str representing part or all of the name of a Manufacturer (e.g. "Honda")

**Returns:** ResultsList object which stores a list of WMIInfo objects

In [18]:
wmi_infos = pv.get_wmis("Tesla")
wmi_infos

**Accessing Each WMI**

In [19]:
# Iterating through vehicles
for wmi_info in wmi_infos:
    display(wmi_info)

# Indexing Vehicles
first = wmi_infos[0]
last = wmi_infos[len(vehicles) - 1]

# Getting Key Attributes
print(first.wmi)
print(first.manufacturer)
print(first.vehicle_type)

5YJ
TESLA, INC.
Passenger Car

**Getting JSON Results**

In [20]:
wmi_infos.get_results()

[{'Country': 'UNITED STATES (USA)',
  'CreatedOn': '2015-03-04',
  'DateAvailableToPublic': '2015-01-01',
  'Id': 955,
  'Name': 'TESLA, INC.',
  'UpdatedOn': None,
  'VehicleType': 'Passenger Car',
  'WMI': '5YJ'},
 {'Country': 'UNITED STATES (USA)',
  'CreatedOn': '2015-04-16',
  'DateAvailableToPublic': '2015-01-01',
  'Id': 955,
  'Name': 'TESLA, INC.',
  'UpdatedOn': None,
  'VehicleType': 'Passenger Car',
  'WMI': 'SFZ'}]

**Getting DataFrame**

In [21]:
# Getting key attribute df dropping nan
wmi_infos.get_df()

     wmi   vehicle_type manufacturer
5YJ  5YJ  Passenger Car  TESLA, INC.
SFZ  SFZ  Passenger Car  TESLA, INC.

In [22]:
# Getting full raw data df not dropping nan
wmi_infos.get_df(raw=True, drop_na=False)

,Country,CreatedOn,DateAvailableToPublic,Id,Name,UpdatedOn,VehicleType,WMI
5YJ,UNITED STATES (USA),2015-03-04,2015-01-01,955,"TESLA, INC.",None,Passenger Car,5YJ
SFZ,UNITED STATES (USA),2015-04-16,2015-01-01,955,"TESLA, INC.",None,Passenger Car,SFZ

## Make Methods
### pvaw.get_makes(manufacturer_name_or_id=None, model_year=None, vehicle_type=None)

Finding Makes by Manufacturer and Year or Vehicle Type

**Parameters: manufacturer_name_or_id:** a str representing part or all of the name of a manufacturer (e.g. "Honda") or an integer representing the manufacturer ID

**model_year:** a str or int representing the year makes must exist in (e.g. 2005)

**vehicle_type:** a str representing the type of vehicle that a make produces (e.g. "car")

**NOTE**: For this method, you can filter either by manufacturer_name_or_id or by vehicle_type, you cannot filter by both. Additionally, model_year can be passed in with manufacturer_name_or_id, but not with vehicle_type.

**Returns:** ResultsList object which stores a list of Make objects

In [23]:
# getting makes for manufacturer name search
makes = pv.get_makes("hyundai")

# getting makes for manufacturer name search and model year
makes_2 = pv.get_makes("tesla", 2020)

# getting makes for manufacturer ID and model year
makes_3 = pv.get_makes(988, 2005)

# getting makes by vehicle_type search
makes_4 = pv.get_makes(vehicle_type="car")

In [24]:
# displaying makes
makes_3

**Accessing Each Make**

In [25]:
# Iterating through makes
for m in makes_3:
    display(m)

# Indexing makes
first = makes_3[0]
last = makes_3[len(makes_3) - 1]

# Getting Key Attributes
print(first.make_id)
print(first.make_name)
print(first.manufacturer)
print(first.vehicle_type)

474
HONDA
HONDA OF AMERICA MFG., INC.
None

**Getting JSON Results**

In [26]:
makes_3.get_results()

[{'MakeId': 474,
  'MakeName': 'HONDA',
  'MfrId': 988,
  'MfrName': 'HONDA OF AMERICA MFG., INC.'},
 {'MakeId': 475,
  'MakeName': 'ACURA',
  'MfrId': 988,
  'MfrName': 'HONDA OF AMERICA MFG., INC.'}]

**Getting DataFrame**

In [27]:
# Getting key attribute df dropping nan
makes_3.get_df()

                                make_id make_name                 manufacturer
474-HONDA OF AMERICA MFG., INC.     474     HONDA  HONDA OF AMERICA MFG., INC.
475-HONDA OF AMERICA MFG., INC.     475     ACURA  HONDA OF AMERICA MFG., INC.

In [28]:
# Getting full raw data df not dropping nan
makes_3.get_df(raw=True, drop_na=False)

,MakeId,MakeName,MfrId,MfrName
"474-HONDA OF AMERICA MFG., INC.",474,HONDA,988,"HONDA OF AMERICA MFG., INC."
"475-HONDA OF AMERICA MFG., INC.",475,ACURA,988,"HONDA OF AMERICA MFG., INC."

# Manufacturer Methods
## Getting Manufacturers
### pvaw.get_manufacturers(m_type=None, page=1)
**Parameters: m_type:** a str representing part or all of the manufacturer type (e.g. "Intermediate")

**page:** int representing the api page number. Each page returns 100 manufacturers

**Returns:** ResultsList object which stores a list of Manufacturer objects

In [29]:
# getting manufacturers by api page number
manufacturers = pv.get_manufacturers(page=5)

# getting manufacturers by manufacturer type
manufacturers_2 = pv.get_manufacturers(m_type="complete", page=1)

## Searching for Specific Manufacturers
### pvaw.get_manufacturer_details(manufacturer_name_or_id)
**Parameters: manufacturer_name_or_id:** a str representing manufacturer name or an int representing the manufacturer ID

**Returns:** ResultsList object which stores a list of Manufacturer objects matching the manufacturer search

In [30]:
# getting manufacturer(s) from manufacturer name search
manufacturers_3 = pv.get_manufacturer_details("Toyota")

# getting manufacturer from manufacturter id
manufacturers_4 = pv.get_manufacturer_details(988)

**Accessing Each Manufacturer**

In [31]:
# Iterating through manufacturers
for m in manufacturers[:4]:
    display(m)

# Indexing manufacturers
first = manufacturers[0]
last = manufacturers[len(manufacturers) - 1]

# Getting Key Attributes
print(first.id)
print(first.common_name)
print(first.name)
print(first.vehicle_types)

1387
None
WOOPYONG MOTOR WHEEL LTD
[]

**Getting JSON Results**

In [32]:
manufacturers.get_results()

[{'Country': '',
  'Mfr_CommonName': None,
  'Mfr_ID': 1387,
  'Mfr_Name': 'WOOPYONG MOTOR WHEEL LTD',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1388,
  'Mfr_Name': 'WORCESTER TANK & EQUIPMENT CO., INC',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1389,
  'Mfr_Name': 'WORCESTER WHITE AUTOCAR, INC.',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1390,
  'Mfr_Name': 'WORKBENCH, INC.',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1391,
  'Mfr_Name': 'U-SCREEN U.S.A., INC.',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1392,
  'Mfr_Name': 'L AND T MANUFACTURING, LLC',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1393,
  'Mfr_Name': 'DAUNTLESS MOTORS CORPORATION',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1394,
  'Mfr_Name': 'RAPSURE CONCESSION TRAILERS, INC.',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1395,
  'Mfr_Name': 'SHADOW TRAILERS, INC.',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1396,
  'Mfr_Name': 'HEISLER BOATS',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1397,
  'Mfr_Name': 'INDUSTRIAL TRAILER MANUFACTURING, INC.',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1398,
  'Mfr_Name': 'CUSTOM TRAILER WORKS LLC',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1399,
  'Mfr_Name': 'THULE TRAILERS, INC.',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1400,
  'Mfr_Name': 'ASPHALT EQUIPMENT & SERVICE CO.',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1401,
  'Mfr_Name': 'POWERSECURE INC.',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1402,
  'Mfr_Name': 'E. T. & T. ENTERPRISES dba HOLLAND METAL FAB., INC',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1403,
  'Mfr_Name': 'SPENCER BOWMAN CUSTOMS',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1404,
  'Mfr_Name': 'GREEN VALLEY PRODUCTS',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1405,
  'Mfr_Name': "D'S FIBERGLASS",
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1406,
  'Mfr_Name': 'CHRISTIANSON SYSTEMS, INC.',
  'VehicleTypes': []},
 {'Country': 'CANADA',
  'Mfr_CommonName': None,
  'Mfr_ID': 1407,
  'Mfr_Name': 'CONVEY-ALL INDUSTRIES INC.',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1408,
  'Mfr_Name': 'CENTENNIAL WELDING, INC.',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1409,
  'Mfr_Name': 'COAST 2 COAST CHOPPERS',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Motorcycle'}]},
 {'Country': '',
  'Mfr_CommonName': None,
  'Mfr_ID': 1410,
  'Mfr_Name': 'SIGNALISATION VER-MAC INC.',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1411,
  'Mfr_Name': 'EIGHT MILE CHOPPERS',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Motorcycle'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1412,
  'Mfr_Name': 'OUTKAST KUSTOM CYCLES, INC.',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1413,
  'Mfr_Name': 'EAGLE TRAILERS MFG',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1414,
  'Mfr_Name': 'BRIDGEVILLE TRAILERS, INC.',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1415,
  'Mfr_Name': 'MOTORCYCLE MACHINE SHOP SERVICES LLC',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1416,
  'Mfr_Name': 'CHOPPER DESIGNS',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1417,
  'Mfr_Name': 'AMERICAN TRAILERS',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1418,
  'Mfr_Name': 'K.C. METAL WORKS LLC.',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1419,
  'Mfr_Name': 'MESKE WELDING LLC',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1420,
  'Mfr_Name': 'GABRIEL VILLESCAS WEST MESA CHOPPERS',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Motorcycle'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1421,
  'Mfr_Name': 'COWBOY TRADING COMPANY INC. aka Cowboy Custom Chop',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1422,
  'Mfr_Name': 'BLUE HEN, LLC',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1423,
  'Mfr_Name': 'TDS DISPOSAL SERVICES LLC',
  'VehicleTypes': []},
 {'Country': '',
  'Mfr_CommonName': None,
  'Mfr_ID': 1424,
  'Mfr_Name': 'JRW TRAILERS, INC. dba WALTON AND BYSON TRAILERS',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1425,
  'Mfr_Name': 'TARGET TRAILER MFG., CO.',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1426,
  'Mfr_Name': 'BROWN WELDING SHOP, INC.',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1427,
  'Mfr_Name': 'TIGER TRUCK, LLC AKA TIGER TRUCK MANUFACTURING, LL',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1428,
  'Mfr_Name': 'WELD-TEK CUSTOM FABRICATION',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1429,
  'Mfr_Name': 'AMERICAN NATIONAL FLEET SERVICE INC. DBA AMERICAN FLEET SERVICES',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Truck '}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1430,
  'Mfr_Name': 'PAFCO TRUCK BODIES',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Truck '}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1433,
  'Mfr_Name': 'BG AUTOMOTIVE GROUP, LTD.',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Low Speed Vehicle (LSV)'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1434,
  'Mfr_Name': "BLING'S CYCLES",
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Motorcycle'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1435,
  'Mfr_Name': 'TEUTONIA USA LLC',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1436,
  'Mfr_Name': 'WISDOM RIDES',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1438,
  'Mfr_Name': 'S & B TRAILERS',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1439,
  'Mfr_Name': 'MINIMOVER, LLC',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Low Speed Vehicle (LSV)'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1440,
  'Mfr_Name': 'BOULDER ELECTRORIDE, INC.',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Motorcycle'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1441,
  'Mfr_Name': 'CREST CHEVROLET, INC.',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Truck '},
   {'IsPrimary': False, 'Name': 'Bus'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1442,
  'Mfr_Name': 'UNITED SERVICE ALLIANCE, INC.',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1443,
  'Mfr_Name': 'WELL DONE EQUIPMENT, LLC',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1444,
  'Mfr_Name': 'J&M MFG. CO. INC.',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1445,
  'Mfr_Name': 'VT HACKNEY , INC.',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Truck '},
   {'IsPrimary': False, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1446,
  'Mfr_Name': 'RWN CONTRACTORS',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1447,
  'Mfr_Name': 'TRANSFORMATRUCKS, LLC',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1448,
  'Mfr_Name': 'OHIO STEEL INDUSTRIES, INC.',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1449,
  'Mfr_Name': 'CENTURY TANK & TRAILER',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1450,
  'Mfr_Name': 'EMK, LLC',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1451,
  'Mfr_Name': 'TOTAL TRUCK & TRAILER',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Truck '},
   {'IsPrimary': False, 'Name': 'Trailer'},
   {'IsPrimary': True, 'Name': 'Multipurpose Passenger Vehicle (MPV)'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1452,
  'Mfr_Name': 'SCEADU DESIGN',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Motorcycle'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1453,
  'Mfr_Name': 'VAPORCON, LLC',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1454,
  'Mfr_Name': 'METAL MANSIONS',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1455,
  'Mfr_Name': 'P.D.Q. METAL FABRICATION, INC.',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1456,
  'Mfr_Name': 'KEYSTONE OILFIELD FABRICATION, LLC',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1457,
  'Mfr_Name': 'GRAND ISLAND MANUFACTURING',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1458,
  'Mfr_Name': 'WALTERS GROUP INC.',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1460,
  'Mfr_Name': 'LEE TRUCK EQUIPMENT, INC.',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Truck '}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1462,
  'Mfr_Name': 'ROOSTER CUSTOM CYCLES, INC.',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Motorcycle'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1463,
  'Mfr_Name': 'GREAT PLAINS FABRICATION LLC',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1464,
  'Mfr_Name': 'SPECTOR MANUFACTURING, INC.',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1465,
  'Mfr_Name': 'Trailerweldshop',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1466,
  'Mfr_Name': 'DUESWAY INC.',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1467,
  'Mfr_Name': 'LOAD PRO TRAILERS, INC.',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1468,
  'Mfr_Name': 'HELL-BENT CUSTOM CYCLES',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1469,
  'Mfr_Name': 'V. MARONE ENTERPRISES, INC.',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1470,
  'Mfr_Name': 'DAVIS METAL WORKS',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'CHINA',
  'Mfr_CommonName': None,
  'Mfr_ID': 1471,
  'Mfr_Name': 'CHONGQING RATO POWER CO., LTD.',
  'VehicleTypes': [{'IsPrimary': False, 'Name': 'Motorcycle'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1472,
  'Mfr_Name': 'EYEBALL ENG.',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Motorcycle'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1473,
  'Mfr_Name': 'RILEEY FORESTRY EQUIPMENT, LLC',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1474,
  'Mfr_Name': 'EXTREME ROAD & TRAIL',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1475,
  'Mfr_Name': 'HANSON MANUFACTURING INC.',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1476,
  'Mfr_Name': 'TAYLOR-DUNN MANUFACTURING',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1477,
  'Mfr_Name': 'IDENTITY MOTORS MANUFACTURING & ASSEMBLY',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Motorcycle'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': 'Chrysler',
  'Mfr_ID': 1478,
  'Mfr_Name': 'CHRYSLER GROUP LLC(USA),CHRYSLER CANADA, CHRYSLER DE MEXICO',
  'VehicleTypes': []},
 {'Country': 'ITALY',
  'Mfr_CommonName': None,
  'Mfr_ID': 1479,
  'Mfr_Name': 'TAZZARI GL SPA',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Low Speed Vehicle (LSV)'}]},
 {'Country': 'CHINA',
  'Mfr_CommonName': None,
  'Mfr_ID': 1480,
  'Mfr_Name': 'CHANGZHOU CITY WENMING VEHICLE ACCESSORIES FACTORY ',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1481,
  'Mfr_Name': 'SALSCO, INC.',
  'VehicleTypes': [{'IsPrimary': True, 'Name': 'Trailer'}]},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1482,
  'Mfr_Name': 'LIFT N LOCK, LLC',
  'VehicleTypes': []},
 {'Country': 'UNITED STATES (USA)',
  'Mfr_CommonName': None,
  'Mfr_ID': 1483,
  'Mfr_Name': 'CONTINENTAL BIOMASS INDUSTRIES, INC.',
  'VehicleTypes': []}]

**Getting DataFrame**

In [33]:
# Getting key attribute df dropping nan
manufacturers.get_df()

,name,vehicle_types,id
1387,WOOPYONG MOTOR WHEEL LTD,[],1387
1388,"WORCESTER TANK & EQUIPMENT CO., INC",[],1388
1389,"WORCESTER WHITE AUTOCAR, INC.",[],1389
1390,"WORKBENCH, INC.",[Trailer],1390
1391,"U-SCREEN U.S.A., INC.",[Trailer],1391
...,...,...,...
1479,TAZZARI GL SPA,[Low Speed Vehicle (LSV)],1479
1480,CHANGZHOU CITY WENMING VEHICLE ACCESSORIES FAC...,[],1480
1481,"SALSCO, INC.",[Trailer],1481
1482,"LIFT N LOCK, LLC",[],1482
1483,"CONTINENTAL BIOMASS INDUSTRIES, INC.",[],1483

In [34]:
# Getting full raw data df not dropping nan
manufacturers.get_df(raw=True, drop_na=False)

,Country,Mfr_CommonName,Mfr_ID,Mfr_Name,VehicleTypes
1387,NaN,None,1387,WOOPYONG MOTOR WHEEL LTD,[]
1388,UNITED STATES (USA),None,1388,"WORCESTER TANK & EQUIPMENT CO., INC",[]
1389,UNITED STATES (USA),None,1389,"WORCESTER WHITE AUTOCAR, INC.",[]
1390,UNITED STATES (USA),None,1390,"WORKBENCH, INC.","[{'IsPrimary': False, 'Name': 'Trailer'}]"
1391,UNITED STATES (USA),None,1391,"U-SCREEN U.S.A., INC.","[{'IsPrimary': False, 'Name': 'Trailer'}]"
...,...,...,...,...,...
1479,ITALY,None,1479,TAZZARI GL SPA,"[{'IsPrimary': True, 'Name': 'Low Speed Vehicl..."
1480,CHINA,None,1480,CHANGZHOU CITY WENMING VEHICLE ACCESSORIES FAC...,[]
1481,UNITED STATES (USA),None,1481,"SALSCO, INC.","[{'IsPrimary': True, 'Name': 'Trailer'}]"
1482,UNITED STATES (USA),None,1482,"LIFT N LOCK, LLC",[]
1483,UNITED STATES (USA),None,1483,"CONTINENTAL BIOMASS INDUSTRIES, INC.",[]